.body{
    display: flex;
    justify-content: center;
    background-image: url(portada2.png);
   }
.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:wrgb(6, 238, 192);
    border-radius: 5px;
    background-image: url(portada1.png)
}

.elementosNav{
    display: flex;
    width: 30%;
    justify-content: space-around;
    color: #37474f;
    font-weight: 700; 
}

.elementos{
    margin-right: 50px;
}


.header{
    background-image: url(portada1.png);
    background-size: cover;
    height: 550px;
    display: flex;
    justify-content: center;
}


.contenedorMain{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boton{
    background-color: #ffcb00;
    box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
}

.boton:hover{
    background-color: #ffcb00;
}
.boton:active{
    box-shadow: none;
}
.article {
    background-image: url(portada1.png);
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
h1{
    font-size: 30px;
     color: rgb(8, 220, 223);
     text-align: center;
}

