<div th:fragment="mensajeFragment(exito, error)">
    <div th:if="${exito} != null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
        <div class="card-body">
            <h5 class="card-title">Éxito 👍</h5>
            <p class="card-text" th:text="${exito}"></p>
        </div>
    </div>

    <div th:if="${error} != null" class="card text-white bg-danger mb-3 mensajeError" id="error-message">
        <div class="card-body">
            <h5 class="card-title">Error 👎</h5>
            <p class="card-text" th:text="${error}"></p>
        </div>
    </div>
</div>

<script>

    const errorMessage = document.getElementById('error-message');


    if (errorMessage) {
        errorMessage.scrollIntoView({ behavior: 'smooth' });
    }
</script>

